
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  padding: 50px;
  font: 14px "Nanum Gothic", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row.course-list .course h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 262px;
}

.course-thumbnail {
  vertical-align: middle;
}
